body{
    background-color: gainsboro;
}

.main{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container {
    width: 1024px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}
.settings {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.settings button {
    padding: 10px 40px;
    border-radius: 8px;
}
.row {
    display: flex;
}
.square:hover {
    background-color: gainsboro;
}
